
/* kleuren variablen */

/* 
Gruvbox is mijn favoriete kleuren-palet in vele programmas vanwege de cool retro-like effect. Ik heb die als een basis genomen voor mijn kleuren.
https://github.com/morhetz/gruvbox
https://camo.githubusercontent.com/a85947d98d2a157973d69e93627354614bd4ed64f2d9bed16a9828645636bace/687474703a2f2f692e696d6775722e636f6d2f776136363678672e706e67
 */

:root {
  --accent:         hsl(330, 100%, 60%);
  --links:          hsl(330, 30%, 60%);
  --fg0:            #fbf1c7;
  --fg1:            #ebdbb2;
  --bg0:            #282828;
  --bg1:            #3c3836;
}

  /* 
  
  size content to viewport
  https://www.w3schools.com/css/css_rwd_viewport.asp
  
  using media queries
  https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Media_queries/Using
  
  Responsive Web Design - Media Queries

  https://www.w3schools.com/css/css_rwd_mediaqueries.asp
  
  */

  /* mobile? */
@media (max-width: 400px) {
  body {
    margin: 0 10% 0 10%;
  }
}

  /* desktop? */
@media (min-width: 500px) {
  body {
    margin: 0 20% 0 20%;
  }
}

/* 
typografie
volgens de instructies meegegeven bij Google Fonts
https://fonts.google.com/faq
*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital@0;1&display=swap');

/* Importeert IBM Plex Sans & Slabo */

nav > a, h1, h2, h3, .logo {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  
}

a, p {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* Zoals ik vermoede in mijn schets, moet ik waarschijnlijk een grid-layout gebruiken. 
https://developer.mozilla.org/en-US/docs/Glossary/Grid
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/grid
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/grid-template-areas
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/grid-template-columns
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/grid-template-rows

Ik zocht op 'css grid cheatsheet' en had deze eenvoudige bron gevonden.
https://grid.malven.co/
https://flexbox.malven.co/
*/


/* layout & kleur */
a {
  color: var(--links);
  &:hover {
    color: var(--accent)
  }
}

body
{
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 50%, 50%;
  grid-template-rows: 5%, 45%, 45%, 5%;
  color: var(--fg1);
  background: var(--bg0);
}

header, footer {
  grid-column-start: span 2;
  text-align: center;
  .logo {
    font-size: 1.25em;
  }
}

 nav, header, section, footer{
  background: var(--bg1);
  border-radius: 8px;
  padding: 1em;
  margin: 0.5em;
}

nav {
  display: flex;
  flex-direction: column;
  a {
    font-size: 2em;
  }
}

ul, ul > li {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
}

figure > img {
  max-height: 300px;
}