/* kleuren variablen */

/* 
Gruvbox is mijn favoriete kleuren-palet in vele programmas vanwege de cool retro-like effect. Ik heb die als een basis genomen voor mijn kleuren.
https://github.com/morhetz/gruvbox
https://camo.githubusercontent.com/a85947d98d2a157973d69e93627354614bd4ed64f2d9bed16a9828645636bace/687474703a2f2f692e696d6775722e636f6d2f776136363678672e706e67
 */

:root {
	--accent: hsl(330, 70%, 60%);
	--accent-muted: hsl(330, 30%, 60%);
	--fg0: #fbf1c7;
	--fg1: #ebdbb2;
	--bg0: #282828;
	--bg1-old: hsl(20, 5%, 22%);
	--bg1: hsl(20, 7%, 25%);
}

/* 
  
  size content to viewport
  https://www.w3schools.com/css/css_rwd_viewport.asp
  
  using media queries
  https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Media_queries/Using
  
  Responsive Web Design - Media Queries

  https://www.w3schools.com/css/css_rwd_mediaqueries.asp
  
  */

/* mobile? */
@media (max-width: 400px) {
	body {
		margin: 5 10%;
	}
}

/* desktop? */
@media (min-width: 500px) {
	body {
		margin: 5% 20%;
	}
}

@media (min-width: 1300px) {
	body {
		margin: 5% 30%;
	}
}

@media (min-width: 1800px) {
	body {
		margin: 5% 40%;
	}
}

/* 
typografie
volgens de instructies meegegeven bij Google Fonts
https://fonts.google.com/faq
*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital@0;1&display=swap');

/* Importeert IBM Plex Sans & Slabo */

nav > a,
h1,
h2,
h3,
.logo {
	font-family: 'IBM Plex Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

a,
p,
li,
ul {
	font-family: 'IBM Plex Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

/* Zoals ik vermoede in mijn schets, moet ik waarschijnlijk een grid-layout gebruiken. 
https://developer.mozilla.org/en-US/docs/Glossary/Grid
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/grid
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/grid-template-areas
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/grid-template-columns
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/grid-template-rows

Ik zocht op 'css grid cheatsheet' en had deze eenvoudige bron gevonden.
https://grid.malven.co/
https://flexbox.malven.co/
*/

/* layout & kleur */
a,
hr {
	color: var(--accent-muted);
	&:hover {
		color: var(--accent);
		transition: all 0.2s ease-in-out;
	}
}

li > span {
	color: var(--accent);
}

body {
	display: grid;
	grid-auto-flow: row dense;
	color: var(--fg1);
	background: var(--bg0);
}

header,
footer {
	grid-column-start: span 2;
	text-align: center;
	.logo {
		font-size: 1.25rem;
	}
}

nav,
header,
section,
footer {
	background: var(--bg1);
	border-radius: 8px;
	padding: 1rem;
	margin: 0.5rem;
}

nav {
	display: flex;
	flex-direction: column;
	a {
		font-size: 2rem;
	}
}

ul,
li {
	list-style-type: none;
	list-style-position: inside;
	margin: 0rem;
	padding: 0rem;
}

figure {
	display: flex;
	align-items: stretch;
	gap: 2rem;
	margin: 0rem;
	img {
		max-height: 190px;
		border-radius: 10%;
	}
}

.gallery {
	display: flex;
	align-items: center;
	gap: 1em;
	img {
		max-height: 90px;
		border-radius: 10px;
	}
}

/*
    Tijd om te kijken hoe ik een one-pager hiervan maak. Bedankt Krijn!

  https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/a#linking_to_an_element_on_the_same_page
  https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements#content_sectioning
  https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/:target
  https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/display
*/

/* animaties - ontbreekt vwg een probleem met de pc thuis. er hoort een hover animatie te zijn voor de figure img en 
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/transition
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/opacity
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/visibility

*/
.swap:target {
	display: block;
	overflow: scroll ;
	scrollbar-color: var(--accent-muted);
	scrollbar-width: none;
	height: 200px;
	h2 {
		color: var(--accent=-muted);
	}
}

.swap {
	display: none;
}

.skill-row {
	display: flex;
	gap: 2rem;
}

.row {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}
